<template>
    <div class="row">
        <vc-spss-totalpedidos :total="this.totalpedidos"></vc-spss-totalpedidos>
        <vc-spss-separacao :total="this.totalseparacao"></vc-spss-separacao>
        <vc-spss-conferencia :total="this.totalconferencia"></vc-spss-conferencia>
        <vc-spss-entrega
                :aguardandoentregabalcao="this.aguardandoentregabalcao"
                :aguardandoentregamotoboy="this.aguardandoentregamotoboy"
        ></vc-spss-entrega>
        <vc-spss-totalentrega
                :totalmotoboy="this.totalbalcao"
                :totalbalcao="this.totalmotoboy"
        ></vc-spss-totalentrega>
    </div>
</template>
<script>
  /*  import {Bar} from 'vue-chartjs'
    import {Line} from 'vue-chartjs'*/

    export default {

        props: {
            empresa: {
                type: String,
                required: true
            },
            totais: {
                required: true
            }
        },
        data() {
            return {
                totalpedidos: 0,
                totalseparacao: 0,
                totalconferencia: 0,
                aguardandoentregabalcao :0,
                aguardandoentregamotoboy: 0,
                totalmotoboy :0,
                totalbalcao: 0,
           }
        },
        mounted() {
            this.ajustaTotais(this.$props.totais)


            const self = this;
            window.Echo.channel(this.empresa)
                .listen('.TotalPedido',
                    (result) => {
                    console.log( result.pedidos)
                        this.ajustaTotais(result.pedidos)
                });
        },

        methods: {

            ajustaTotais(pedidos) {
                this.totalpedidos = pedidos.pedidos,
                    this.totalseparacao = pedidos.separacao,
                    this.totalconferencia = pedidos.conferencia,
                    this.aguardandoentregabalcao = pedidos.aguardandoentregabalcao,
                    this.aguardandoentregamotoboy = pedidos.aguardandoentregamotoboy,
                    this.totalbalcao = pedidos.balcao,
                    this.totalmotoboy = pedidos.motoboy

            },

        },
    }
</script>

<style>
    .text-value {
        font-size: 50px
    }

    .title-header {
        font-size: 17px;
    }

    .bg-marinho {
        background-color: #0c5460;
    }
</style>