<template>
    <div>
    <vc-spss-modal :empresa="empresa "></vc-spss-modal>
    <div class="container-fluid"  >

        <vc-spss-header :totais="totais" :empresa="empresa" ></vc-spss-header>

        <vc-spss-pedidos :empresa="empresa" ></vc-spss-pedidos>
    </div>
    </div>
</template>

<script>

    export default {
        props: ['empresa', 'totais'],
        name: "vc-container",


        mounted: function () {
            console.log(this.totais)
        }

    }

</script>

<style scoped>

</style>