<template>
    <div >
    <div v-if="showModal">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-dialog">
                        <div class="modal-content ">
                            <div class="modal-header">
                                <h4 class="modal-title">Consulta de pedidos</h4>
                                <button type="button" class="close" @click="showModal=false">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                            </div>
                            <div class="modal-body">
                                <vc-spss-datatable :carregar="{showModal}" :empresa="this.empresa" ></vc-spss-datatable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>

    <button id="show-modal" @click="showModal = true">Pesquisar</button>
    </div>
</template>


<script>


    export default {
        name: "vc-modal-table.vue",
        props: {
            empresa: {
                type: String,
                required: true
            },
        },
        components: {},



        data() {
            return {
                showModal: false
            }
        },

    }
</script>

<style>

    .modal-dialog {
        max-width: 1500px;

    }
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

</style>