<template>
    <div class="col-2" v-bind:class="{ mostrar: isActive }" >


    <div class=" row " >

        <div class="col-12 box-pedido "  >
            <div class="row box-client ">
                <div class="col-7  nome-cliente">
                    {{ descricao_cliente}}
                </div>
                <div class="col-5 txt-right">
                    {{ this.fdatapedido }}
                </div>
            </div>
            <div class="row ">
                <div class="col-7 pedido">
                    {{ pedido }}
                </div>
                <div class="col-5 cronometro-total">
                    <h4> {{this.tempoPedido}} </h4>
                </div>
            </div>
            <hr style="background-color: whitesmoke; margin: 1px">
            <div class="row box-client">
                <div class="col-12 desc-cliente">
                    {{status_descricao}} | {{ colaborador }}
                </div>
                <!--<div class="col-4 txt-right" >
                    {{ this.fdatastatus }}
                </div>-->
            </div>
            <div class="row box-cronometro">
                <div class="col-12  ">
                    <i class="fa fa-clock-o" style="font-size: 33px" aria-hidden="true"> </i>

                    {{this.tempoStatus }}
                </div>
            </div>
        </div>

    </div >
    </div>

</template>

<script>

    import * as moment from 'moment';
    import 'moment/locale/pt-br';

    export default {

        props: ['codigo_cliente', 'empresa', 'status', 'status_descricao', 'colaborador', 'descricao_cliente',
             'data_pedido', 'data_status', 'modoentrega',
             'pedido', 'cancelado', 'finalizado','tempoLimit'],

        data() {
            return {
                pollingStatus: null,
                pollingPedido: null,
                tempoStatus: '00:00:00',
                tempoPedido: '00:00:00',
               // tempoLimit: '10',
                /*datastatus: this.$props.datastatus,
                datapedido: this.$props.datapedido,*/
                isActive: true,



                /*status_a1 : [],   //1	A0001	Pedido efetuado aguardando separação e conferencia
                status_c1 : [],   //2	C0001	Pedido em Conferencia
                status_c2 : [],   //3	C0002	Conferencia do Pedido concluída
                status_s1 : [],   //4	S0001	Pedido em Separação
                status_s2 : [],   //5	S0002	Separação do pedido concluída
                **-**-**-**-**-**-***-**-**-**-**-***--**-***-****--***-****-***-***--***--***---**--*-***-**--******-**
                status_e1 : [],   //6	E0001	Entrega Liberada (definido o motoboy)
                status_e2 : [],   //7	E0002	Entrega em Transito (Saiu para Entregar)
                status_a3 : [],   //8	E0003	Entrega Fechada (Motoboy ja voltou)
                status_d1 : [],   //9	D0001	Pedido cancelado separação e conferencia*/

            }
        },

        computed: {
            fchamadas() {
                return this.chamadas.slice(0, 50)
                // return this.chamadas.slice(0, this.monitor.qtdsenhasaguardando)
                // return this.chamadas.slice(0, this.monitor.qtdsenhasaguardando)
            },

            fdatastatus() {
                return moment(this.datastatus).format('DD/MM HH:mm')
            },
            fdatapedido() {
                return moment(this.datapedido).format('DD/MM HH:mm')
            }
        },

        mounted: function () {
            this.pollTempoPedido()
            this.pollTempoStatus()
        },

        methods: {
            playSound() {
                const audio = new Audio('/audio/SD_ALERT_3.mp3');
                const promise = audio.play();

                if (promise !== undefined) {
                    promise.then(_ => {
                        audio.play()
                    }).catch(error => {

                    });
                }
            },

            animacao(val) {
                Vue.nextTick(() => {
                    document.getElementById(val).classList.add("senha")
                })
            },

            removeAnimacao() {
                const self = this;
                return new Promise((resolve, reject) => {   // return a promise
                    setTimeout(() => {
                        try {
                            Vue.nextTick(() => {
                                document.getElementById(self.ultchamada).classList.remove("senha")
                            })
                        } catch (e) {
                            reject('Remove: ' + e)
                        }
                    }, 5000)
                })
            },

            removeRepetidos(arr) {
                let newArray = this.chamadas.filter(function (chamada) {
                    return chamada.pedido !== arr.pedido ///ver como tratar cada status para nao deixar reṕetido
                })
                //momento de ajustar o tempo
                arr = this.cronometro(arr)
                newArray.unshift(this.cronometro(arr))
                localStorage.setItem('P_pedidos_'+this.empresa, JSON.stringify(newArray)); // Salva no navegador
                this.chamadas = newArray
            },
            removeSenha(arr) {
                let newArray = this.chamadas.filter(function (chamada) {
                    return chamada.pedido !== arr.pedido
                })


                localStorage.setItem('P_pedidos_'+this.empresa, JSON.stringify(newArray)); // Salva no navegador
                this.chamadas = newArray
            },

            pollTempoStatus() {
                const self = this;

                setInterval(function () {
                    let now = moment();
                    now = moment(now, "YYYY-MM-DD HH:MM:SS")
                    let then = self.data_status;// "21/05/2019 12:00:00";

                    let ms = moment(now, "YYYY-MM-DD HH:mm:ss").diff(moment(then, "YYYY-MM-DD HH:mm:ss"));
                    let d = moment.duration(ms);
                    self.tempoStatus = Math.floor(d.asHours()) + moment.utc(ms).format(":mm:ss");
                   let temp = d / 60000;

                   //Se ultrapassar o tempo limite e o pedido não estiver finalizado, mostra no painel.
                    if(temp >= self.tempoLimit && !self.finalizado ){
                        self.isActive = false
                    }else{
                        self.isActive = true
                    }

                }, 1000)

            },

            pollTempoPedido() {
                const self = this;

                setInterval(function () {
                    let now = moment();
                    now = moment(now, "DD/MM/YYY HH:MM:SS")
                    let then = self.data_pedido;// "21/05/2019 12:00:00";

                    let ms = moment(now, "YYYY-MM-DD HH:mm:ss").diff(moment(then, "YYYY-MM-DD HH:mm:ss"));
                    let d = moment.duration(ms);
                    self.tempoPedido = Math.floor(d.asHours()) + moment.utc(ms).format(":mm:ss");

                }, 1000)
            }

        }

    };
</script>

<style>
    .box-pedido {

        margin-top: 15px;
        height: 170px;
        background-color: #2A2A2A;
        border: #6B6B6B solid 1px;
    }

    .box-client {
        color: #D7D5D6;
        font-size: 16px;
        height: 23px;
        text-align: left;

    }

    .pedido {
        color: #D7D5D6;
        text-align: left;
        font-size: 40px;
        height: 52px;
    }

    .cronometro-total {
        color: #D7D5D6;
        text-align: right;
        margin-top: 15px;
        height: 37px;
    }

    @font-face {
        font-family: DS-DIGIB;
        src: local('DS-DIGIB.TTF'), url('/fonts/ds_digital/DS-DIGIB.TTF');
    }

    .box-cronometro {
        color: #FFDB29;
        text-align: center;
        font-size: 40px;
        font-family: DS-DIGIB;
        letter-spacing: 3px;
        height: 52px;
    }

    .title {
        color: #D7D5D6;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }

    .title-row {
        padding: 50px;
        height: 180px;
        background-color: rgb(0, 0, 0, 0.9);
    }

    .txt-right {
        text-align: right;
    }

    .desc-cliente {
        /* font-size: 18px;
         white-space: nowrap;
         width: 50px;
         overflow: hidden;
         text-overflow: clip;*/
        text-transform: uppercase  ;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        font-size: 11px;
    }
    .mostrar {
       display: none;
    }

    .vermeio {
        color: red;
    }
    .nome-cliente {
        /* font-size: 18px;
         white-space: nowrap;
         width: 50px;
         overflow: hidden;
         text-overflow: clip;*/

        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
    }



</style>
