<script>
    export default {

        props: ['reproduzir'],

        data(){
            return{
                rep: this.reproduzir,

            }
        },

        mounted() {
            console.log(this.rep)

                this.playSound()

        },

        methods: {

            playSound() {
                var audio = new Audio('/audio/SD_ALERT_3.mp3');
                var promise = audio.play();

                if (promise !== undefined) {
                    promise.then(_ => {
                        console.log('tocando')
                        resolv(audio.play())
                    }).catch(error => {
                        console.log('deu ruim '+ error)
                    });
                }





            },
        },



    };
</script>
<template>
    <div></div>
</template>





