<script>
    export default {
        props: ['monitor'],
        data() {
            return {
                senhas: [],
                ultimaSenha: 'zero',
            }
        },

        computed: {
            fsenhas() {
                return this.senhas.slice(0, this.monitor.qtdSenhas)
            },
        },

        mounted() {
            console.log('senhas')
            const self = this;
            window.Echo.channel(self.monitor.empresa.codigo)
                .listen('.senha', function (result) {

                    if (result.senhas.class === 'verde') {
                        self.removeRepetidos(result.senhas)
                        self.animacao(result.senhas.nronff)
                        self.playSound()
                        self.removeAnimacao()
                        self.ultimaSenha = result.senhas.nronff;
                    } else {
                        self.removeSenha(result.senhas)
                    }
                });

           // if (localStorage.senhas_concluido) this.senhas = JSON.parse(localStorage.senhas_concluido);
            if (localStorage.getItem('PS_concluido_'+ this.monitor.empresa.codigo)){
                this.senhas = JSON.parse(localStorage.getItem('PS_concluido_'+ this.monitor.empresa.codigo));
            }

        },

        methods: {

            playSound() {
                const audio = new Audio('/audio/SD_ALERT_3.mp3');
                let promise = audio.play();

                if (promise !== undefined) {
                    promise.then(_ => {
                        audio.play()
                    }).catch(error => {
                    });
                }
            },

            animacao(val) {
                Vue.nextTick(() => {
                    document.getElementById(val).classList.add("senha")
                })
            },

            removeAnimacao() {
                const self = this;
                return new Promise((resolve, reject) => {   // return a promise
                    setTimeout(() => {
                        try {
                            Vue.nextTick(() => {
                                document.getElementById(self.ultimaSenha).classList.remove("senha")
                            })
                        } catch (e) {
                            reject('Remove: ' + e)
                        }
                    }, 5000)
                })
            },

            removeRepetidos(arr) {
                let newArray = this.senhas.filter(function (senha) {
                    return senha.nronff !== arr.nronff
                })
                newArray.unshift(arr)
              //  localStorage.senhas_concluido = JSON.stringify(newArray)
                localStorage.setItem('PS_concluido_'+ this.monitor.empresa.codigo, JSON.stringify(newArray));


                this.senhas = newArray

            },

            removeSenha(arr) {
                let newArray = this.senhas.filter(function (senha) {
                    return senha.nronff !== arr.nronff
                })

              //  localStorage.senhas_concluido = JSON.stringify(newArray)
                localStorage.setItem('PS_concluido_'+ this.monitor.empresa.codigo, JSON.stringify(newArray));

                this.senhas = newArray
            },
        }

    };
</script>

<template>
    <div class="col-3"style="margin-top: 20px">
        <div class="list-group">
            <div  class="senha-title text-center" >
                 <h4><i class="fa fa-check icon-title " aria-hidden="true"> </i>  <strong>PODE RETIRAR O SEU PEDIDO.</strong> </h4>
            </div>
            <div v-for="senha in fsenhas" :key="senha.nronff">
                <div  :id="senha.nronff" class=" list-group-item chamadas  ">
                    <div  class=" row row-senha" >
                        <div style="text-align: left" class="col-6">
                            <i :class="senha.class" class="chamada">{{ senha.nronff }}</i>
                        </div>
                        <div style="text-align: right" class="col-6 semaforo">
                            <i class="fa fa-circle" :class="senha.class" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="row">
                        <h5 class="mb-1 cor-desc-cliente">
                            <i v-if=" senha.modoentregabalcao == 2" class="fa fa-motorcycle " aria-hidden="true"> </i>
                            <i v-else class="fa fa-user " aria-hidden="true"> </i>
                            {{senha.descli}}
                        </h5>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>

    .chamadas {
        background-color: rgba(0, 0, 0, 0.5);
        color: black;
        margin-top: 3px;
        padding: 0.25rem 1.35rem;
    }
    .row-senha{
        height: 60px;
    }
    .senha-title {
        padding: 10px; color: white; background-color: rgba(31, 187, 31, 0.8);
    }
    .vermelha {
        color: red;
        font-weight: bold;
    }

    .icon-title{
        font-size: 30px;
    }

    .laranja {
        color: rgb(255, 140, 0);
        font-weight: bold;
    }

    .verde {
        color: rgb(31, 187, 31);
        font-weight: bold;
    }

    .cor-desc-cliente {
        color: rgba(255, 255, 255, 1);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .info-status {
        color: yellow;
        font-size: 20px
    }

    .chamada {
        font-size: 48px;
        font-weight: bold;
        font-style: normal;
    }

    .semaforo {
        font-size: 45px;
        font-weight: bold;
        font-style: normal;
    }

    @keyframes pisca {
        0% {
            background-color: #c3c7c9;
        }
        50% {
            background-color: transparent;
        }
        100% {
            background-color: #c3c7c9;
        }
    }

    .senha {
        animation: pisca 500ms 4;
    }

</style>
