<template>
    <div>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{ this.titulo }}</strong> {{ this.informacao }}
        </div>
    </div>
  </template>

<script>
export default {

props: ['titulo','informacao'],

  data(){
      return {

      }
  },

}
</script>

