<template>
    <div>
        <hr>
        <div class="checkbox">
            <label  class="col-md-3 form-control-label">Ativar modulo<small v-if="data_ativacao"> *Alterado em: {{data_ativacao}}</small></label>
            <input v-model="status"  @change="alterarStatus(status)" class="switch-input switch switch-sm switch-3d switch-primary" type="checkbox" />
        </div>
        <div class="checkbox">
            <label  class="col-md-3 form-control-label">Modo produção<small v-if="data_producao"> *Alterado em: {{data_producao}}</small></label>
            <input v-model="producao" @change="alterarProducao(producao)" class="switch-input switch switch-sm switch-3d switch-primary" type="checkbox" />
        </div>

    </div>

</template>

<script>
    import Swal from 'sweetalert2'
    export default {
        props: ['cnpj','modulo'],

        data() {
            return {
                urlapi: 'http://implantacao.autmaster.com.br',
                token: null,
                status: false,
                producao: false,
                data_ativacao: '',
                data_producao: '',
            }
        },

        mounted() {
            this.getContrato()
        },

        methods: {
            async getContrato() {
                const  self = this;
                const token =  await this.getToken()
                axios.defaults.headers.common['Authorization'] = token;
                axios.post(self.urlapi+'/api/contrato/get',{
                        cnpj: self.cnpj,
                        modulo: self.modulo
                }).then(function (response) {
                    self.status = response.data.status;
                    self.producao = response.data.producao;

                    self.data_ativacao = response.data.data_ativacao;
                    self.data_producao = response.data.data_producao;
                })
            },
            alterarStatus(status) {
                const self = this
                let texto = ''

                if( this.status ) {
                    texto = 'Ao ativar o modulo uma notificação será enviada para o setor financeiro'
                }else {
                    texto = 'Ao desabilitar o modulo de e-commerce, todas as informações serão excluidas permanentemente.'
                    this.producao = false;
                }

                Swal.fire({
                    title: 'Você tem certeza?\n',
                    text: texto,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ok',
                    cancelButtonText: 'Cancelar'

                }).then((result) => {
                    result.value ? self.atualizaContrato() : self.status = !status
                })
            },
            alterarProducao(producao) {
                const self = this
                let texto = ''

                if(this.producao) {
                    texto = 'Ao ativar o modo produção a tag [HOMOLOGAÇÃO] deixará de aparecer nos produtos, e o modulo passará a ser faturado mensalmente \n Todos os produtos serão atualizados.'
                    this.status = true; // Se o modulo entrar em producao, automaticamente ele e ativo.
                } else {
                    texto = 'Ao colocar em modo desenvolvimento a tag [HOMOLOGAÇÃO] será exibida nos produtos de e-commerce'
                }

                Swal.fire({
                    title: 'Você tem certeza?\n',
                    text: texto,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sim, ativar modo produção!',
                    cancelButtonText: 'Cancelar'

                }).then((result) => {
                    result.value ? self.atualizaContrato() : self.producao = !producao
                })
            },
            async atualizaContrato() {
                const  self = this;
                const token =  await this.getToken()
                axios.defaults.headers.common['Authorization'] = token;
                axios.post(self.urlapi+'/api/contrato',{
                    cnpj: self.cnpj,
                    modulo: self.modulo,
                    status: self.status,
                    producao: self.producao
                }).then(function (response) {
                    self.getContrato()
                })
            },

            getToken() {
                const self = this;
                return new Promise((resolv, reject) => {
                    axios.post(self.urlapi+'/oauth/token',{

                        'grant_type' : 'client_credentials',
                        'client_id' : '2',
                        'client_secret' : 'ld0EirTDWAzVkiipuPiylc86YNutg1CPQG84oTui'
                    }).then(function(response) {
                       resolv(response.data.token_type + ' ' + response.data.access_token)
                    }).catch(error => {
                        reject(error)
                    })
                })
            }
        }
    }
</script>

<style scoped>

</style>
