// Here you can add other styles
// Here you can add other styles
@import '~simple-line-icons/scss/simple-line-icons';

// Fix mobile footer
.app-footer {
  flex: 0 0;
  padding-top: map-get($spacers, 1);
  padding-bottom: map-get($spacers, 1);
}
