<template>
    <div>

        <div class=" row">
            <div class="col-5">
                <label class="col-5 ">Característica</label>
            </div>
            <div class="col-5">
                <label class="col-5 ">Valor</label>
            </div>
            <div class="col-2">
                
            </div>
        </div>

        <div class=" row">
            <div class="col-5">
                <autocomplete 
                    :zeracaracteristica="this.caracteristicavalue"   
                    @recCaracteristica="getCaracteristica"  
                    endereco="/admin/caracteristicas/pesquisa/"
                            >
                    
                </autocomplete>
            </div>

            <div class="col-5">
                <input class="form-control" @keyup.enter="getProdutoCaracteristicas"  type="text" v-model="valorcaracteristica" placeholder="Valo da característica" >
            </div>

            <div class="col-2">
                <button type="button" @click="getProdutoCaracteristicas" class="btn btn-success"><i class="fa fa-plus-circle" aria-hidden="true"></i> Adicionar</button>
            </div>
        </div>
            <br>
        <div class="row col-12" >
            <table class="table table-sm">
        
                <tbody>
                    <tr v-for="pc in produtocaracteristicas" v-bind:key="pc.id">
                    <td>{{ pc.id }}</td>
                    <td>{{ pc.caracteristica.descricao }}</td>
                    <td>{{ pc.valor }}</td>
                    <td title="Remover registro" @click="RemoveCaracteristica(pc.id )"><i class="fa fa-times text-danger" aria-hidden="true"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
            <vc-informacao titulo="Info:" informacao="As características não são cadastradas automaticamente nos produtos similares." ></vc-informacao>
    </div>
    
    
</template>

<script>


    export default {


        props:['ssproduto'],
        name: "produto-caracteristicas",

        data(){
            return{
                 caracteristica:'',
                 valorcaracteristica:'',
                 results:[],
                 produtocaracteristicas:[],
                 caracteristicavalue:'',
                 
                }
        },

         mounted() {
            this.getProdutoCaracteristica();            
         },



        methods: {

            getProdutoCaracteristicas(){
                //Verifica se a caracteristica existe e cadastra a caracteristica no produto

                Vue.http.headers.common['X-CSRF-TOKEN'] = document.head.querySelector('meta[name="csrf-token"]').content;
                this.$http.post('/admin/produto/caracteristica', 
                    {
                         'ssproduto': this.ssproduto,
                         'descricao': this.caracteristica,
                         'valor'    : this.valorcaracteristica,
                    },
                    ).then(response => {
                      // get body data
                        this.getProdutoCaracteristica();    
                        this.caracteristicavalue = new Date();
                        this.valorcaracteristica=''; // Limpa o imput deste componente

                    }, response => {
                    // error callback
                });
            },

            getCaracteristica(caracteristica){
                //Recebe a caracteristica do componente filho
                this.caracteristica = caracteristica;
            },  
            
            RemoveCaracteristica(idcaracteristica){
            ///produto/caracteristica/delete/{caracteristica}
                this.$http.get('/admin/produto/caracteristica/delete/'+idcaracteristica)
                    .then(res =>{
                         this.getProdutoCaracteristica();
                         console.log(res.body)
                    })

            },

            getProdutoCaracteristica(){
              // Pesquisa as caracteristicas vinculadas ao produto
                this.$http.get('/admin/produto/caracteristica/cadastradas/'+this.ssproduto)
                    .then(res => res.json())
                    .then(produtocaracteristicas => this.produtocaracteristicas =  produtocaracteristicas)
            } ,
            
  
        },

    }
</script>

<style scoped>

</style>