<script>
    export default {
        props: ['tipos', 'ssproduto'],

        data() {
            return {
                vtipos: [],
                tipoid: '',
                marcaid: '',
                marcas: [],
                veiculos: [],
                veiculoid: '',
                anos: [],
                anoid: '',
                anosSelecionados: [],
            }
        },

        mounted() {

            this.vtipos = JSON.parse(this.tipos);
            this.getProdutosVeiculos();
        },

        methods: {
            getMarcas() {
                this.marcaid = '';
                this.marcas = [];
                this.veiculos = [];
                this.veiculoid = '';
                this.anoid = '';
                this.anos = [];

                if(this.tipoid !== ''){
                this.$http.get('/admin/veiculos/getMarcas/' + this.tipoid)
                    .then(res => res.json())
                    .then(marcas => this.marcas = marcas)
                }
            },

            getVeiculos() {
                if(this.marcaid !== ''){
                this.$http.get('/admin/veiculos/getVeiculos/' + this.marcaid)
                    .then(res => res.json())
                    .then(veiculos => this.veiculos = veiculos)
                }
            },

            getAnos() {
                if (this.veiculoid !== ''){
                    this.$http.get('/admin/veiculos/getAnos/' + this.veiculoid+'/'+this.ssproduto)
                        .then(res => res.json())
                        .then(anos => this.anos = anos)
                }

            },

            postVeiculoAnos: function () {

                if (this.selectAno !== '') {

                    Vue.http.headers.common['X-CSRF-TOKEN'] = document.head.querySelector('meta[name="csrf-token"]').content;

                    this.$http.post('/admin/produtos/cadastro/veiculo', {
                        'produto': this.ssproduto,
                        'tipo': this.tipoid,
                        'marca': this.marcaid,
                        'veiculo': this.veiculoid,
                        'ano_id': this.anoid,
                    }).then(function (res) {
                        this.getProdutosVeiculos();
                        this.getAnos();
                        console.log(res.body);
                        });
                }
            },

            getProdutosVeiculos(){
                this.$http.get('/admin/produtos/anos/show/'+this.ssproduto)
                    .then(res => res.json())
                    .then(anosSelecionados => this.anosSelecionados =  anosSelecionados)
            },

            ProdutoVeiculoRemove(veiculoAnoId){
                this.$http.get('/admin/produtos/remove/veiculo/'+veiculoAnoId+'/'+this.ssproduto)
                    .then(function (res) {
                        this.getProdutosVeiculos();
                        this.getAnos();
                        console.log(res.body);    
                    });
            }
        }
    }
</script>

<template>

    <div>  <!-- Mostra os inputs para selecionar os veiculos compativeis com o produto-->
        <div class="form-group row">
            <label for="codigoInterno" class="col-sm-1 col-form-label">Tipo</label>
            <div class="col-sm-2">
                    <select v-model="tipoid" @change="getMarcas()" class="custom-select">
                        <option disabled value="">Tipo</option>
                        <option v-for="tipo in vtipos" v-bind:value="tipo.id">{{ tipo.tipo }}</option>
                    </select>
            </div>
            <label for="codigoFabricante" class="col-sm-1 col-form-label">Marca</label>
            <div class="col-sm-2">
                <select v-model="marcaid" @change="getVeiculos()" class="custom-select">
                    <option disabled value="">Marca</option>
                    <option v-for="marca in marcas" v-bind:value="marca.id">{{ marca.name }}</option>
                </select>
            </div>
            <label for="codigoBarras" class="col-sm-1 col-form-label">Veiculo</label>
            <div class="col-sm-2">
                <select v-model="veiculoid" @change="getAnos()" class="custom-select">
                    <option disabled value="">Veículo</option>
                    <option v-for="veiculo in veiculos" :value="veiculo.id">{{ veiculo.name }}</option>
                </select>
            </div>
            <label forcap="codigoInterno" class="col-sm-1 col-form-label">Ano</label>
            <div class="col-sm-2">
                <select v-model="anoid"  @change="postVeiculoAnos()"  class="custom-select">
                    <option  disabled value="">Ano</option>
                    <option v-for="ano in anos" :value="ano.id">{{ ano.ano_modelo }}</option>
                </select>
            </div>
        </div>
        <!--Mostra os veiculos selecionados-->
        
        <br>
        <table class="table table-hover table-sm">

            <tbody>
            <tr v-for="veiculo in anosSelecionados">
                <td>{{ veiculo.ano.marca }}</td>
                <td>{{ veiculo.ano.name }}</td>
                <td>{{ veiculo.ano.ano_modelo }}</td>
                <td title="Remover registro" @click="ProdutoVeiculoRemove(veiculo.ano_id)"><i class="fa fa-times text-danger" aria-hidden="true"></i></td>
            </tr>
            </tbody>
        </table>
        <vc-informacao titulo="Info:" informacao="Os veículos são cadastrados automaticamente nos produtos similares." ></vc-informacao>
        
    </div>
</template>