// Override the Bootstrap defaults without modifying key, versioned files.
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    width:100%;
    background-color:rgb(27, 27, 27);
    color: white;
    text-align: center;
}

.img-footer {
    max-width: 150px; 
    max-height: 50px;
    
}

.mar-top-15 {
    margin-top: 15px;
}