<template>
    <div>
        <div v-if="this.loading" class="centro " > <div class="loader"></div></div>
        <table v-if="!this.loading" class="table table-striped table-dark ">
            <thead>
            <tr class="text-center">
                <th  scope="col"><h1>STATUS</h1></th>
                <th scope="col"><h1>OS</h1></th>
                <th scope="col"><h1>MECÂNICO</h1></th>
                <th scope="col"><h1>VEÍCULO</h1></th>
                <th scope="col"><h1>PROPRIETÁRIO</h1></th>


                <th scope="col"><h1>ABERTURA</h1></th>
            </tr>
            </thead>
            <tbody>

            <tr v-for="ordem in ordens" :key="ordem.ordem" >
                <td v-bind:class= "ordem.class"><h4>{{ ordem.status}}</h4></td>
                <td><h4>{{ordem.ordem }}</h4></td>
                <td><h4>{{ ordem.mecanico }}</h4></td>
                <td><h4>{{ ordem.veiculo}}</h4></td>
                <td><h4>{{ ordem.cliente }}</h4></td>


                <td><h4>{{ordem.abertura}}</h4></td>
            </tr>


            </tbody>
        </table>

    </div>
</template>

<script>
    export default {
        name: "Ordens",
        props: ['empresa'],
        data(){
            return{
                ordens:[],
                ordenspaginate:[],
                inversor:true,
                total:'',
                loading:false,

            }
        },

        mounted() {
            this.getOrdens();

            console.log('Compontente de ordens de serviço montado')
            const self = this;
            window.Echo.channel('chordemservico')
                .listen('.ordem', function (result) {
                    if (result) {

                        // GET /someUrl

                self.getOrdens();
                      //  self.ordenspaginate = result.ordens.ordens;
                    //    self.total = result.ordens.total;
                     //   console.log(result.ordens.ordens);
                      //  console.log(result.ordens.total);
                       // self.paginateteste();
                    }
                });
        },

        methods: {

            getOrdens() {

                this.loading = true;
                this.$http.get('/monitor/getordens/'+this.empresa).then(response => {

                    // get body data
                   // console.log(response.body);
                    this.ordenspaginate = response.body.ordens;
                    this.total = response.body.total;

                    this.paginacao();

                }, response => {
                    // error callback
                });
            },

            paginacao() {

                const divisao = this.total / 15;
                const  self = this;
                //console.log(divisao);
                let n = 0;
                setInterval(function () {
                    if(n >= divisao){n=0;}
                    let de = n * 15;
                    let ate = de + 15;
                //    console.log(de);
                 //   console.log(ate);
                    self.ordens = self.ordenspaginate.slice(de, ate);
                    n++;
                    self.loading=false;
                }, 10000);

            }
        }
    };


</script>

<style scoped>

    body {
        margin: 0px
    }
    .centro {
        width: 99vw;
        height: 100vh;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center
    }

    .loader {

        border: 9px solid #f3f3f3; /* Light grey */
        border-top: 9px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 80px;
        height: 80px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }


</style>