<template>
    <div>
        <h5>Atualização geral de produtos</h5>
        <div class="aside-options">
            <!-- Opencart -->
            <div class="clearfix mt-4">
                <small><b>e-Commerce</b>

                </small>

                <label class="switch switch-text switch-pill switch-success switch-sm float-right">
                    <input type="checkbox" class="switch-input" v-model="atualizacao_oc"
                           @input="postAtualizacaoGeral('atualizacao_geral_oc')"
                           @change="postAtualizacaoGeral('atualizacao_geral_oc')">
                    <span class="switch-label" data-on="On" data-off="Off"></span>
                    <span class="switch-handle"></span>
                </label>
            </div>
            <!-- Opencart  IMG-->
            <!--<div class="clearfix mt-4">
                <small><b>e-Commerce imagens</b>
                </small>
                <label class="switch switch-text switch-pill switch-success switch-sm float-right">
                    <input type="checkbox" class="switch-input" v-model="atualizacao_oc_img"
                           @input="postAtualizacaoGeral('atualizacao_geral_oc_img')"
                           @change="postAtualizacaoGeral('atualizacao_geral_oc_img')">
                    <span class="switch-label" data-on="On" data-off="Off"></span>
                    <span class="switch-handle"></span>
                </label>
            </div>-->
            <!-- Plugg.to -->
            <div class="clearfix mt-4">
                <small><b>Plugg.to</b>
                </small>
                <label class="switch switch-text switch-pill switch-success switch-sm float-right">
                    <input type="checkbox" class="switch-input" v-model="atualizacao_pt"
                           @input="postAtualizacaoGeral('atualizacao_geral_pt')"
                           @change="postAtualizacaoGeral('atualizacao_geral_pt')">
                    <span class="switch-label" data-on="On" data-off="Off"></span>
                    <span class="switch-handle"></span>
                </label>
            </div>
            <!-- Peça Aqui -->
            <!--<div class="clearfix mt-4">
                <small><b>Peçaqui</b>
                </small>
                <label class="switch switch-text switch-pill switch-success switch-sm float-right">
                    <input type="checkbox" class="switch-input" v-model="atualizacao_pa"
                           @input="postAtualizacaoGeral('atualizacao_geral_pa')"
                           @change="postAtualizacaoGeral('atualizacao_geral_pa')">
                    <span class="switch-label" data-on="On" data-off="Off"></span>
                    <span class="switch-handle"></span>
                </label>
            </div>-->
            <div>
                <small class="text-muted"> Atualização geral irá enviar todos os produtos ativos para o e-commerce
                    no proximo horário.<br>
                    <b>Obs:</b> Essa configuração é valida somente para o primeiro envio do proximo horário,
                    após enviar, a configuração volta ao normal, atualizando apenas produtos modificados no dia. <br>
                    <b>Atenção:</b> O Envio de todos os produtos pode sobrecarregar o seu servidor, use somente quando
                    necessário.
                </small>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "vc-marktplace-atualiza-geral",
        data() {
            return {
                'atualizacao_oc': '',
                'atualizacao_oc_img': '',
                'atualizacao_pt': '',
                'atualizacao_pa': '',
            }
        },


        mounted() {
            this.getAtualizacaoGeral('atualizacao_geral_oc');
            this.getAtualizacaoGeral('atualizacao_geral_oc_img');
            this.getAtualizacaoGeral('atualizacao_geral_pt');
            this.getAtualizacaoGeral('atualizacao_geral_pa');
        },

        methods: {

            getAtualizacaoGeral(config) {
                Vue.http.headers.common['X-CSRF-TOKEN'] = document.head.querySelector('meta[name="csrf-token"]').content;
                this.$http.get('/admin/configuracao/modulo/Marktplace/configuracao/' + config)
                    .then(res => res.json())
                    .then(res => {
                        // O Campo valor não é boleano no banco de dados, por isso precisa converter
                        let valor = false;
                        if (res.valor == 'T') {
                            valor = true
                        } else {
                            valor = false
                        }

                        switch (config) {
                            case 'atualizacao_geral_oc':
                                this.atualizacao_oc = valor;
                                break;
                            case 'atualizacao_geral_oc_img':
                                this.atualizacao_oc_img = valor;
                                break;
                            case 'atualizacao_geral_pt':
                                this.atualizacao_pt = valor;
                                break;
                            case 'atualizacao_geral_pa':
                                this.atualizacao_pa = valor;
                                break;
                        }


                        console.log('recupera valor = ' + res.valor)

                    }, response => {
                        // error callback
                    });
            },

            postAtualizacaoGeral(config) {

                let valAtualizacao = '';
                let valor = '';
                switch (config) {
                    case 'atualizacao_geral_oc':
                        valor = this.atualizacao_oc;
                        break;
                    case 'atualizacao_geral_oc_img':
                        valor = this.atualizacao_oc_img;
                        break;
                    case 'atualizacao_geral_pt':
                        valor = this.atualizacao_pt;
                        break;
                    case 'atualizacao_geral_pa':
                        valor = this.atualizacao_pa;
                        break;
                }

                if (valor == true) {
                    valAtualizacao = 'T'
                } else {
                    valAtualizacao = 'F'
                }

                Vue.http.headers.common['X-CSRF-TOKEN'] = document.head.querySelector('meta[name="csrf-token"]').content;
                this.$http.post('/admin/configuracao/update', {
                    'modulo': 'Marktplace',
                    'configuracao': config,
                    'valor': valAtualizacao
                })
                    .then(res => res.json())
                    .then(res => {
                        this.getAtualizacaoGeral(config);

                    }, response => {
                        // error callback
                    });

            }

        }

    }

</script>
